@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
.dark { color-scheme: dark; }

body {
  background: #fafafa; /* zinc-50 */
  color: #18181b;      /* zinc-900 */
}

.dark body {
  background: #09090b; /* zinc-950 */
  color: #f4f4f5;      /* zinc-100 */
}

input, select, textarea, button {
  border-radius: 0.5rem;
}
